MINIMAX_API_KEY=
MINIMAX_BASE_URL=https://api.minimaxi.com/v1
MINIMAX_MODEL=MiniMax-M1
VOLCENGINE_APP_KEY=
VOLCENGINE_ACCESS_KEY=
WHISPER_MODEL_PATH=/Users/linmoney/Downloads/test jianji/video-cutter/models/ggml-base.bin
